#logo img{
  width: 8%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

#logo_footer img{
  width: 4%;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display:flex;
align-content: center;
}

.fleche img{
  width: 4%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display:block;
  margin-bottom: 0.5em;
}

h2{
  margin-bottom: 1px;
}

h3{
  text-decoration: none;
  display: block;
    margin:0 auto;
    margin-top: 1em;
    max-width: 40%;
    text-align: center;
}

h3 a:hover{
    font-weight: bold;
    font-style: italic;
    color: #11228b;
}

h5{
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}

nav ul{
  text-decoration: none;
  justify-content: center;
  display: flex;
  padding-top: 35px;
}

nav ul li{
  text-decoration: none;
  justify-content: center;
  display: flex;
  padding: 2em;
}

a {
  text-decoration: none;
  justify-content: center;
}

nav a:hover{
  font-weight: bold;
}

nav a:focus{
  font-weight: bold;
}

#projets{
display: block;
}

.content{
max-width: 90%;
margin: 0 auto;
position: relative;
padding-top: 7em;
}

#reseaux ul li{
  text-decoration: none;
  text-align: center;
}

#reseaux ul{
  text-decoration: none;
  text-align: center;
  padding-bottom: 3em;
}

.roundedImage img{
    overflow:hidden;
    -webkit-border-radius:200px;
    -moz-border-radius:200px;
    border-radius:200px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
    width: 20%;
}



.cercle{
background:#fa6970;
border-radius:50%;
width:100px;
height:100px;
border:2px solid #fa6970;
display: block;
margin-left: 50px;
}
.grid-container {
  display: grid;
  grid-column-gap: 50px;
}

.grid-item{
  width: 8%;
  margin: 0 auto;
  display: block;
}
